{% extends "base.html" %}

{%block head%}
<title>Print QR Code</title>
{% endblock %}

{% block content %}
<div class="top">
    <h1> PRINT QR CODE </h1>
</div>
<div class="form">
    <form action='/adminprint' method="post">
        <label for="code">Code:</label>
        <input type="text" id="code" name="code"><br><br><br>
        <div style="position:fixed; left:50px; top:550px;">
            <input type="submit" class="button submit" value="Print"><br>
            <a href={{ url_for( "admin" ) }} class="button homepage">Back</a><br>
            <a href={{ url_for( "home" ) }} class="button homepage">Home</a>
    </form>
</div>
{% endblock %}