{% extends "base.html" %}

{%block head%}
<title>Admin</title>
{% endblock %}

{% block content %}
<body bgcolor = #3d3d3d>
    <h1 class="welcome"> Welcome, {{name}}</h1><br> 
        <div class="frame">
         <div class="info">
             <div class = "left">
                <p class="code"> Code: {{code}}</p> <br>
                <p class="designation"> Designation: {{designation}}</p> <br>
                <p class="time">Entry Time: {{time}}</p>
             </div>
         </div>
         <div style = "position:fixed; left:1290px; top:600px;">
            <a href = {{ url_for("home") }} class="button homepage">Home</a>
            <a href = {{ url_for("delete") }} class="button homepage">Delete</a>
            <a href = {{ url_for("searchlog") }} class="button homepage">Search Log</a>
         </div>
        </div>
{% endblock %}