{% extends "base.html" %}

{%block head%}
<title>Data Logs</title>
<style>
    .link-button {
        margin-left: 40px;
    }
</style>
{% endblock %}

{% block content %}

<body bgcolor=#3d3d3d>
    <h1 class="welcome"> AVIALABLE DATA: </h1>
    <p id="filter-heading"> Filter by: </p>
    <form action="/data" method="post">
        <input type="submit" id="filter-submit-button" value="Filter">
        <select name="designation" class="filter">
            <option value="All">All</option>
            <option value="Student">Student</option>
            <option value="Council">Council</option>
            <option value="Teacher">Teacher</option>
            <option value="Admin">Admin</option>
        </select>
    </form>
    <div class="frame">
        <table>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Designation</th>
                <th>Faculty</th>
                <th>Bus Stop</th>
                <th>Bus No.</th>
                <th>Cell No.</th>
            </tr>
            {% for x in li %}
            <tr>
                {% for item in x %}
                <td>{{item}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <br><br><br>
        <div class="link-button">
            <a href={{ url_for("admin") }} class="button homepage">Back</a>
            <a href={{ url_for("home") }} class="button homepage">Home</a>
        </div>
    </div>
    {% endblock %}