{% extends "base.html" %}

{%block head%}
<title>DataLogs</title>
{% endblock %}

{% block content %}
<body bgcolor = #3d3d3d>
    <h1 class="welcome"> AVIALABLE LOGS </h1><br> 
        <div class="vl1"></div>
        <div class="vl2"></div>
        <div class="vl3"></div>
        <div class="frame">
         <table>
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Designation</th>
            </tr>
            {% for x in li %}
                <tr>
                    {% for item in x%}
                        <td>{{item}}</td>
                    {% endfor %}
                </tr>   
            {% endfor %}
         </table>
         <div style = "position:fixed; left:1290px; top:500px;">
            <a href = {{ url_for("admin") }} class="button homepage">Admin</a>
            <a href = {{ url_for("home") }} class="button homepage">Home</a>
         </div>
        </div>
{% endblock %}
