{% extends "base.html" %}

{%block head%}
<title>Logs</title>
{% endblock %}

{% block content %}

<body bgcolor=#3d3d3d>
    <h1 class="welcome"> Logs for {{name}}</h1><br>
    <div class="frame2">
        <div class="info">
            <p class="code"> Code: {{code}}</p>
            <p class="designation"> Designation: {{designation}}</p>
            <p class="time">Entry Time: {{time}}</p>
            <p class="fee">Bus Stop: {{bstop}} ({{bno}})</p>
            <p class="candue">Faculty: {{faculty}}</p>
            <p class="cafdue">Cell: {{cell}}</p>
        </div>
        <div style="position:fixed; left:50px; top:590px;">
            <a href={{ url_for( "searchlog" ) }} class="button homepage"> Back </a>
            <a href={{ url_for("home") }} class="button homepage">Home</a>
        </div>
    </div>

    {% endblock %}