{% extends "base.html" %}

{%block head%}
<title>Home</title>
<style>
    body {
        overflow: hidden;
    }
</style>
{% endblock %}

{% block content %}

<body bgcolor=#3d3d3d>
    <h1 class="welcome"> Welcome, {{name}}</h1><br>
    <div class="frame">
        <div class="info">
            <div class="left">
                <p class="code"> Code: {{code}}</p><br>
                <p class="designation"> Designation: {{designation}}</p><br>
                <p class="cafdue">Cell: {{cell}}</p> <br>
                <p class="time">Entry Time: {{time}}</p><br>
            </div>
            <div class="vl"></div>
            <div class="right">
                <p class="fee">Bus Stop: {{bstop}} ({{bno}})</p> <br>
                <p class="candue">Faculty: {{faculty}}</p> <br>
                <p class="cafdue">Canteen Fee: Rs. {{fee}}</p> <br>
            </div>
        </div>
        <div style="position:fixed; left:850px; top:620px;">
            <a href={{ url_for("home") }} class="button homepage">Home</a>
        </div>
    </div>
    {% endblock %}